




coverage
crispy-tailwind

Django
django-browser-reload
django-crispy-forms
django-leaflet
django-phonenumber-field
django-tailwind
djangorestframework
djangorestframework-gis
djlint

gunicorn

isort
Jinja2


MarkupSafe

mypy
mypy-extensions

phonenumbers

psycopg2-binary

pylint

pytest
pytest-cov
pytest-sugar

python-decouple
django-storages
boto3

PyYAML

requests


tqdm


