
{% extends "base.html" %}
{% load static %}
{% load tailwind_filters %}
{% block head %}
    {% block title %}
        <title>New LME</title>
        <meta name="description" content="New LME" />
        <meta name="keywords" content="New LME" />
        <meta name="author" content="New LME" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel='canonical' href='/environment/lme/create/' />
        <meta name="robots" content="index, follow" />
        <meta name="googlebot" content="index, follow" />
        <meta name="revisit-after" content="1 days" />
        <meta name="language" content="en" />
        <meta name="distribution" content="global" />
        <meta name="rating" content="general" />
        <meta name="doc-class" content="completed" />
    {% endblock title %}
{% endblock head %}
{% block content %}
    <div class="flex flex-col items-center flex-1 pt-0 mx-auto bg-gray-100 ">
        <!-- body -->
        <div class="flex flex-row items-center w-full py-2 mt-2 mb-4 bg-gray-200 rounded-lg shadow md:w-11/12 justify-evenly ">
            <div class="flex flex-row items-center justify-center w-3/12 ">
                {% comment %} <a href="/ui/lme/list/" class="flex flex-row items-center justify-around px-4 py-2 bg-gray-300 border-2 rounded-lg sm:text-sm">
                    <i class="text-gray-600 fad fa-arrow-left"></i>
                    <p class="ml-2 sm:text-xs sm:pl-1">
                        LME List
                    </p>
                </a> {% endcomment %}
                <a href="{% url 'lessons_list' %}"
                   class="inline-flex overflow-hidden text-white bg-gray-900 rounded group">
                    <span class="px-3.5 py-2 text-white bg-purple-500 group-hover:bg-purple-600 flex items-center justify-center">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             class="w-6 h-6"
                             fill="none"
                             viewBox="0 0 24 24"
                             stroke="currentColor"
                             stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7" />
                        </svg>
                    </span>
                    <span class="pl-4 pr-5 py-2.5">Lessons List</span>
                </a>
            </div>
            <div class="flex flex-row justify-center w-6/12 ">
                <button class="px-4 py-2 text-red-500 rounded-lg bg-gray-50 ">
                    <h1 class="text-center h6">Add New Lesson</h1>
                </button>
            </div>
            <div class="flex flex-row justify-center w-3/12 ">
                {% comment %} <button class="px-4 py-2 bg-gray-300 border-2 rounded-lg ">Report</button> {% endcomment %}
            </div>
        </div>
        <!-- end Sales Overview -->
        <div class="w-full mt-4">
            <form class="grid w-full grid-cols-1 gap-4 px-4 py-2" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="h-8 px-6 mx-4 bg-blue-500" type="submit">Submit</button>
            </form>
        </div>
    </div>
{% endblock content %}
