{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="flex-1 p-6 mx-auto bg-gray-100 ">
        <!-- Sales Overview -->
        <div class="card">
            <!-- header -->
            <div class="flex flex-row justify-between card-header">
                <h1 class="h6">Last Mile EnterPreneurs</h1>
            </div>
            <!-- end header -->
            <!-- body -->
            <div class="grid grid-cols-3 gap-2 px-4 py-2 mx-4 border-2 ">
                <div class="">
                    <button class="px-4 py-2 text-red-500 bg-gray-300 border-2 rounded-lg outline-blue-500">Add new LME</button>
                </div>
                <div class="">
                    <button class="px-4 py-2 bg-gray-300 border-2 rounded-lg outline-blue-500">Sales List</button>
                </div>
                <div class="">
                    <button class="px-4 py-2 bg-gray-300 border-2 rounded-lg outline-blue-500">Report</button>
                </div>
            </div>
            <div class="grid grid-cols-2 gap-4 px-4 py-2 mx-4 border-2 ">
                <div class="flex flex-col justify-around">
                    <div>
                        <p>
                            Factory
                        </p>
                    </div>
                    <div class="mt-2">
                        <input type="text"
                               class="w-full p-2 text-sm border-2 rounded-lg"
                               placeholder="Add Factory">
                    </div>
                </div>
                <div class="flex flex-col justify-around">
                    <div>
                        <p>
                            Enterprise Name
                        </p>
                    </div>
                    <div class="mt-2">
                        <input type="text"
                               class="w-full p-2 text-sm border-2 rounded-lg"
                               placeholder=" LME Name"/>
                    </div>
                </div>
                <div class="flex flex-col justify-around">
                    <div>
                        <p>
                            Contact Person
                        </p>
                    </div>
                    <div class="mt-2">
                        <input type="text"
                               class="w-full p-2 text-sm border-2 rounded-lg"
                               placeholder="Contact Person Name"/>
                    </div>
                </div>
                <div class="flex flex-col justify-around">
                    <div>
                        <p>
                            Year of Birth
                        </p>
                    </div>
                    <div class="mt-2">
                        <input type="text"
                               class="w-full p-2 text-sm border-2 rounded-lg"
                               placeholder="e.g 1992"/>
                    </div>
                </div>
                <div class="flex flex-col justify-around">
                    <div>
                        <p>
                            Phone Number
                        </p>
                    </div>
                    <div class="mt-2">
                        <input type="text"
                               class="w-full p-2 text-sm border-2 rounded-lg"
                               placeholder="07xx xxx xxx"/>
                    </div>
                </div>
                <div class="flex flex-col justify-around">
                    <div>
                        <p>
                            Email
                        </p>
                    </div>
                    <div class="mt-2">
                        <input type="text"
                               class="w-full p-2 text-sm border-2 rounded-lg"
                               placeholder="someone@123.com"/>
                    </div>
                </div>
                <div class="flex flex-col justify-around">
                    <div>
                        <p>
                            Number of employees
                        </p>
                    </div>
                    <div class="mt-2">
                        <input type="number"
                               class="w-full p-2 text-sm border-2 rounded-lg"
                               placeholder="0"/>
                    </div>
                </div>
                <div class="flex flex-col justify-around">
                    <div>
                        <p>
                            No of Female
                        </p>
                    </div>
                    <div class="mt-2">
                        <input type="number"
                               class="w-full p-2 text-sm border-2 rounded-lg"
                               placeholder="0"/>
                    </div>
                </div>
                <div class="flex flex-col justify-around">
                    <div>
                        <p>
                            Number of Male
                        </p>
                    </div>
                    <div class="mt-2">
                        <input type="number"
                               class="w-full p-2 text-sm border-2 rounded-lg"
                               placeholder="0"/>
                    </div>
                </div>
                {% comment %} County {% endcomment %}
                <div class="flex flex-col justify-around">
                    <div>
                        <p>
                            County
                        </p>
                    </div>
                    <div class="mt-2">
                        <input type="text"
                               class="w-full p-2 text-sm border-2 rounded-lg"
                               placeholder=""/>
                    </div>
                </div>
                {% comment %} Sub County {% endcomment %}
                <div class="flex flex-col justify-around">
                    <div>
                        <p>
                            Sub  County
                        </p>
                    </div>
                    <div class="mt-2">
                        <input type="text"
                               class="w-full p-2 text-sm border-2 rounded-lg"
                               placeholder=""/>
                    </div>
                </div>
                {% comment %} Ward {% endcomment %}
                <div class="flex flex-col justify-around">
                    <div>
                        <p>
                            Ward
                        </p>
                    </div>
                    <div class="mt-2">
                        <input type="text"
                               class="w-full p-2 text-sm border-2 rounded-lg"
                               placeholder=""/>
                    </div>
                </div>
                {% comment %} Retailer/Installer {% endcomment %}
                <div class="flex flex-col justify-around">
                    <div>
                        <p>
                            Retailer/Installer
                        </p>
                    </div>
                    <div class="mt-2">
                        {% comment %} <label for="cars">Choose a Retailer:</label> {% endcomment %}
                        <select name="retailer" id="retailers_id" class="w-1/2">
                            <option value="">
                                -----
                            </option>
                            <option value="volvo">
                                Retailer 1
                            </option>
                            <option value="saab">
                                Retailer 2
                            </option>
                            <option value="mercedes">
                                Retailer 3
                            </option>
                        </select>
                    </div>
                </div>
                {% comment %} Types Of Stove {% endcomment %}
                <div class="flex flex-col justify-around">
                    <div>
                        <p>
                            Types of Stove
                        </p>
                        <p>
                            (ctrl+click to select multiple)
                        </p>
                    </div>
                    <div class="mt-2">
                        {% comment %} <label for="cars">Choose a Retailer:</label> {% endcomment %}
                        <select name="stove" id="stove_id" class="w-1/2" multiple>
                            <option value="">
                                -----
                            </option>
                            <option value="volvo">
                                Stove 1
                            </option>
                            <option value="saab">
                                Stove 2
                            </option>
                            <option value="mercedes">
                                Stove 3
                            </option>
                        </select>
                    </div>
                </div>
                <div class="flex flex-col justify-around">
                    <div>
                        <p>
                            Action
                        </p>
                    </div>
                    <div class="flex flex-row justify-around">
                        <button class="w-5/12 px-2 py-2 bg-blue-500 rounded-lg">Save</button>
                        <button class="w-5/12 px-2 py-2 bg-gray-500 rounded-lg">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- end Sales Overview -->
    </div>
{% endblock content %}
