{% extends "base.html" %}
{% load humanize %}
{% block content %}
    <div class="w-full px-4">
        <div class="flex items-center mb-3 space-x-2 font-semibold leading-8 text-gray-900">
            <span clas="text-green-500">
                <svg class="h-5"
                     xmlns="http://www.w3.org/2000/svg"
                     fill="none"
                     viewBox="0 0 24 24"
                     stroke="currentColor">
                    <path fill="#fff" d="M12 14l9-5-9-5-9 5 9 5z" />
                    <path fill="#fff"
                          d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z"/>
                    <path stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222"/>
                </svg>
            </span>
            <span class="tracking-wide">Coaching and Mentorship Attended</span>
        </div>
        <ul class="space-y-2 list-inside">
            {% if trainings %}
                {% for training in trainings %}
                    <li>
                        <div class="text-teal-600">{{ training.topic_covered }}</div>
                        <div class="text-xs text-gray-500">Start Date:  {{ training.date|naturalday }}</div>
                        <div class="text-xs text-gray-500">Next Meeting Date:  {{ training.next_meeting_date|naturalday }}</div>
                        <div class="text-xs text-gray-500">Remarks by Mentor:  {{ training.remarks_by_mentor }}</div>
                        <div class="text-xs text-gray-500">Action Points:  {{ training.action_points }}</div>
                    </li>
                    <hr>
                {% endfor %}
            {% else %}
                <li>
                    <div class="py-8 text-3xl text-center text-teal-600">No Coaching and Mentorship Done</div>
                </li>
            {% endif %}
        </ul>
    </div>
{% endblock content %}
