{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="flex-1 p-6 mx-auto bg-gray-100 ">
        <!-- Sales Overview -->
        <div class="card">
            <!-- header -->
            <div class="flex flex-row justify-between card-header">
                <h1 class="h6">Last Mile EnterPreneurs</h1>
            </div>
            <!-- end header -->
            <!-- body -->
            <div class="grid grid-cols-3 gap-2 px-4 py-2 mx-4 border-2 ">
                <div class="">
                    <button class="px-4 py-2 bg-gray-300 border-2 rounded-lg ">Add new LME</button>
                </div>
                <div class="">
                    <button class="px-4 py-2 text-red-500 bg-gray-300 border-2 rounded-lg ">LMES List</button>
                </div>
                <div class="">
                    <button class="px-4 py-2 bg-gray-300 border-2 rounded-lg ">Report</button>
                </div>
            </div>
            <div class="grid grid-cols-5 gap-4 px-4 py-2 mx-4 border-2 ">
                <div class="flex flex-col justify-around">
                    <div>
                        <p>
                            Factory
                        </p>
                    </div>
                    <div class="mt-2">
                        <input type="text"
                               class="w-full p-2 text-sm border-2 rounded-lg"
                               placeholder="Search Factory">
                    </div>
                </div>
                <div class="flex flex-col justify-around">
                    <div>
                        <p>
                            LME
                        </p>
                    </div>
                    <div class="mt-2">
                        <input type="text"
                               class="w-full p-2 text-sm border-2 rounded-lg"
                               placeholder="Search LME"/>
                    </div>
                </div>
                <div class="flex flex-col justify-around">
                    <div>
                        <p>
                            Contact Person
                        </p>
                    </div>
                    <div class="mt-2">
                        <input type="text"
                               class="w-full p-2 text-sm border-2 rounded-lg"
                               placeholder="Search Person"/>
                    </div>
                </div>
                <div class="flex flex-col justify-around">
                    <div>
                        <p>
                            Email
                        </p>
                    </div>
                    <div class="mt-2">
                        <input type="text"
                               class="w-full p-2 text-sm border-2 rounded-lg"
                               placeholder="someone@123.com"/>
                    </div>
                </div>
                <div class="flex flex-col justify-around">
                    <div>
                        <p>
                            Action
                        </p>
                    </div>
                    <div>
                        <button class="w-1/2 px-2 py-2 bg-gray-500 rounded-lg">Filter</button>
                    </div>
                </div>
            </div>
            <div class=" w-[90%] mx-2 mt-4 border-2 bg-slate-100 rounded-2xl">
                <table class="w-full text-left table-auto">
                    <thead>
                        <tr>
                            <th class="px-4 py-2 border-r">Factory</th>
                            <th class="px-4 py-2 border-r">LME</th>
                            <th class="px-4 py-2 border-r">Contact Person</th>
                            <th class="px-4 py-2 border-r">Phone Number</th>
                            <th class="px-4 py-2 border-r">Total Sales</th>
                            <th class="px-4 py-2"></th>
                        </tr>
                    </thead>
                    <tbody class="text-gray-600">
                        <tr>
                            <td class="px-4 py-2 text-center text-green-500 border border-l-0">
                                <p>
                                    Kangaita
                                </p>
                            </td>
                            <td class="px-4 py-2 border border-l-0">Francis M.</td>
                            <td class="px-4 py-2 border border-l-0">Francis M.</td>
                            <td class="px-4 py-2 border border-l-0">
                                <span class="">+254717xxxxx</span>
                            </td>
                            <td class="px-4 py-2 border border-l-0 ">
                                KES<span class="pl-1">5,300</span>
                            </td>
                            <td class="px-4 py-2 border border-l-0 border-r-0">
                                <button class="px-4 py-2 text-white bg-blue-500 rounded-md ">View</button>
                            </td>
                        </tr>
                        <tr>
                            <td class="px-4 py-2 text-center text-green-500 border border-l-0">
                                <p>
                                    Kangaita
                                </p>
                            </td>
                            <td class="px-4 py-2 border border-l-0">Francis M.</td>
                            <td class="px-4 py-2 border border-l-0">Francis M.</td>
                            <td class="px-4 py-2 border border-l-0">
                                <span class="">+254717xxxxx</span>
                            </td>
                            <td class="px-4 py-2 border border-l-0 ">
                                KES<span class="pl-1">5,300</span>
                            </td>
                            <td class="px-4 py-2 border border-l-0 border-r-0">
                                <button class="px-4 py-2 text-white bg-blue-500 rounded-md ">View</button>
                            </td>
                        </tr>
                        <tr>
                            <td class="px-4 py-2 text-center text-green-500 border border-l-0">
                                <p>
                                    Kangaita
                                </p>
                            </td>
                            <td class="px-4 py-2 border border-l-0">Francis M.</td>
                            <td class="px-4 py-2 border border-l-0">Francis M.</td>
                            <td class="px-4 py-2 border border-l-0">
                                <span class="">+254717xxxxx</span>
                            </td>
                            <td class="px-4 py-2 border border-l-0 ">
                                KES<span class="pl-1">5,300</span>
                            </td>
                            <td class="px-4 py-2 border border-l-0 border-r-0">
                                <button class="px-4 py-2 text-white bg-blue-500 rounded-md ">View</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="p-8">
                <h1 class="h2">
                    5,337
                </h1>
                <p class="font-medium text-black">
                    Sales this month
                </p>
                <div class="flex items-center mt-20 mb-2">
                    <div class="px-3 py-1 mr-3 text-green-900 bg-green-200 rounded">
                        <i class="fa fa-caret-up"></i>
                    </div>
                    <p class="text-black">
                        <span class="text-green-400 num-2"></span><span class="text-green-400">% more sales</span> in comparison to last month.
                </p>
            </div>
            <div class="flex items-center">
                <div class="px-3 py-1 mr-3 text-red-900 bg-red-200 rounded">
                    <i class="fa fa-caret-down"></i>
                </div>
                <p class="text-black">
                    <span class="text-red-400 num-2"></span><span class="text-red-400">% revenue per sale</span> in comparison to last month.
            </p>
        </div>
        <a href="#" class="mt-6 btn-shadow">view details</a>
    </div>
    <!-- end Sales Overview -->
{% endblock content %}
