{% extends "base.html" %}
{% load static %}
{% load tailwind_filters %}
{% load leaflet_tags %}

{% block head %}

{% leaflet_css plugins="forms, geocoder" %}
    {% leaflet_js plugins="forms, geocoder" %}
    
   <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />

   <style>
    .leaflet-control-geocoder-icon {
        border-radius: 4px;
        width: 26px;
        height: 26px;
        border: none;
        background-color: #c51515;
        background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' class='w-6 h-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z' /%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        z-index: 99999;

        
      }
   </style>
{% endblock head %}
    
{% block content %}
    <div class="flex-1 p-6 mx-auto bg-gray-100 ">
        <!-- body -->
        <div class="grid grid-cols-3 gap-2 px-4 py-2 mx-4 shadow">
            <div >
                {% comment %} <a href="/ui/lme/tree-growing/" className="mt-6">
                    <button class="px-4 py-2 bg-gray-300 border-2 rounded-lg ">Back to Trees Activities</button>
                </a> {% endcomment %}
                <a href="/ui/lme/tree-growing/"
                   class="inline-flex overflow-hidden text-white bg-gray-900 rounded group">
                    <span class="px-3.5 py-2 text-white bg-purple-500 group-hover:bg-purple-600 flex items-center justify-center">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             class="w-6 h-6"
                             fill="none"
                             viewBox="0 0 24 24"
                             stroke="currentColor"
                             stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7" />
                        </svg>
                    </span>
                    <span class="pl-4 pr-5 py-2.5">Tree Growing Activities List</span>
                </a>
            </div>
            <div >
                <a href="" className="mt-6">
                    <button class="px-4 py-2 text-red-500 bg-gray-300 border-2 rounded-lg ">Tree Growing Create</button>
                </a>
            </div>
            <div >
                {% comment %} <button class="px-4 py-2 bg-gray-300 border-2 rounded-lg ">Report</button> {% endcomment %}
            </div>
        </div>
        <!-- end Sales Overview -->
        <div class="mt-4">
            <form class="grid w-full grid-cols-2 gap-4 px-4 py-2" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="h-8 px-6 mx-4 bg-blue-500" type="submit">Submit</button>
            </form>
        </div>
    </div>
    <script type="text/javascript">
        window.addEventListener("map:init", function(e) {
                var detail = e.detail;
                L.Control.geocoder().addTo(detail.map);
            }, false
        ); //end of window.addEventListener
    
    </script>
{% endblock content %}
