{% extends "base.html" %}
{% load static %}
{% load tailwind_filters %}
{% block content %}
    <div class="flex flex-col items-center justify-start w-full -screen">
        <div class="flex flex-col items-center justify-start w-full h-full md:w-10/12 ">
            <h1 class="mt-4 mb-2 text-sm tracking-wider text-gray-500">
                Welcome: <span class="font-semibold">{{ user }}</span>
            </h1>
            {% if user.is_lme == True %}
                <p class="mb-6 text-gray-600">
                    You are a LME.
                </p>
                <div class="grid w-full grid-cols-2 gap-4 p-4 bg-red-100 md:w-3/4 md:gap-12 justify-evenly ">
                    <div class="flex flex-col items-center h-auto px-2 py-2 bg-white rounded-lg shadow-lg justify-evenly">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             class="w-8 text-red-400 h-9"
                             fill="none"
                             viewBox="0 0 24 24"
                             stroke="currentColor"
                             stroke-width="2">
                            <path stroke-linecap="round"
                                  stroke-linejoin="round"
                                  d="M12 6v6m0 0v6m0-6h6m-6 0H6"/>
                        </svg>
                        <button class="px-2 py-1 mt-4 bg-blue-400 rounded-md">
                            <a href="/environment/lme/sales/individual/create/"
                               class="text-sm text-gray-50 hover:text-red-600">Add a Sale</a>
                        </button>
                    </div>
                    <div class="flex flex-col items-center h-auto px-2 py-2 bg-white rounded-lg shadow-lg justify-evenly">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             class="w-8 text-red-400 h-9"
                             fill="none"
                             viewBox="0 0 24 24"
                             stroke="currentColor"
                             stroke-width="2">
                            <path stroke-linecap="round"
                                  stroke-linejoin="round"
                                  d="M11 3.055A9.001 9.001 0 1020.945 13H11V3.055z"/>
                            <path stroke-linecap="round"
                                  stroke-linejoin="round"
                                  d="M20.488 9H15V3.512A9.025 9.025 0 0120.488 9z"/>
                        </svg>
                        <button class="px-2 py-1 mt-4 bg-blue-400 rounded-md">
                            <a href="/ui/lme/sales/individual/"
                               class="text-sm text-gray-100 hover:text-white">My Sales</a>
                        </button>
                    </div>
                    <div class="flex flex-col items-center h-auto px-2 py-2 bg-white rounded-lg shadow-lg justify-evenly">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             class="w-8 text-red-400 h-9"
                             fill="none"
                             viewBox="0 0 24 24"
                             stroke="currentColor"
                             stroke-width="2">
                            <path stroke-linecap="round"
                                  stroke-linejoin="round"
                                  d="M7 12l3-3 3 3 4-4M8 21l4-4 4 4M3 4h18M4 4h16v12a1 1 0 01-1 1H5a1 1 0 01-1-1V4z"/>
                        </svg>
                        <button class="px-2 py-1 mt-4 bg-blue-400 rounded-md">
                            <a href="/environment/lme/training/individual/"
                               class="text-sm text-gray-50 hover:text-red-600">View Training</a>
                        </button>
                    </div>
                    <div class="flex flex-col items-center h-auto px-2 py-2 bg-white rounded-lg shadow-lg justify-evenly">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             class="w-8 text-red-400 h-9"
                             fill="none"
                             viewBox="0 0 24 24"
                             stroke="currentColor"
                             stroke-width="2">
                            <path stroke-linecap="round"
                                  stroke-linejoin="round"
                                  d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253"/>
                        </svg>
                        <button class="px-2 py-1 mt-4 bg-blue-400 rounded-md">
                            <a href="/environment/lme/cnm/individual/"
                               class="text-sm text-white odd:hover:text-red-600">View Coaching</a>
                        </button>
                    </div>
                </div>
            {% endif %}
            {% if user.is_lme == False %}
                <p class="mb-6 text-gray-600">
                    You are an Admin.
                </p>
                <div class="grid w-full h-full grid-cols-2 gap-4 p-8 bg-red-100 rounded-lg md:grid-cols-3 md:w-10/12 md:gap-12 justify-evenly ">
                    <div class="flex flex-col items-center h-auto px-2 py-2 bg-white rounded-lg shadow-lg justify-evenly">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             class="w-8 text-red-400 h-9"
                             fill="none"
                             viewBox="0 0 24 24"
                             stroke="currentColor"
                             stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
                        </svg>
                        <button class="px-2 py-1 mt-4 bg-blue-400 rounded-md">
                            <a href="/ui/lme/list/" class="text-sm text-gray-50 hover:text-red-600">Go To LMEs</a>
                        </button>
                    </div>
                    <div class="flex flex-col items-center h-auto px-2 py-2 bg-white rounded-lg shadow-lg justify-evenly">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             class="w-8 text-red-400 h-9"
                             fill="none"
                             viewBox="0 0 24 24"
                             stroke="currentColor"
                             stroke-width="2">
                            <path stroke-linecap="round"
                                  stroke-linejoin="round"
                                  d="M11 3.055A9.001 9.001 0 1020.945 13H11V3.055z"/>
                            <path stroke-linecap="round"
                                  stroke-linejoin="round"
                                  d="M20.488 9H15V3.512A9.025 9.025 0 0120.488 9z"/>
                        </svg>
                        <button class="px-2 py-1 mt-4 bg-blue-400 rounded-md">
                            <a href="/ui/lme/sales/" class="text-sm text-gray-100 hover:text-white">View Sales</a>
                        </button>
                    </div>
                    <div class="flex flex-col items-center h-auto px-2 py-2 bg-white rounded-lg shadow-lg justify-evenly">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             class="w-8 text-red-400 h-9"
                             fill="none"
                             viewBox="0 0 24 24"
                             stroke="currentColor"
                             stroke-width="2">
                            <path stroke-linecap="round"
                                  stroke-linejoin="round"
                                  d="M7 12l3-3 3 3 4-4M8 21l4-4 4 4M3 4h18M4 4h16v12a1 1 0 01-1 1H5a1 1 0 01-1-1V4z"/>
                        </svg>
                        <button class="px-2 py-1 mt-4 bg-blue-400 rounded-md">
                            <a href="/ui/lme/training/"
                               class="text-sm text-gray-50 hover:text-red-600">View Training</a>
                        </button>
                    </div>
                    <div class="flex flex-col items-center h-auto px-2 py-2 bg-white rounded-lg shadow-lg justify-evenly">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             class="w-12 text-red-400 h-9"
                             fill="none"
                             viewBox="0 0 24 24"
                             stroke="currentColor"
                             stroke-width="2">
                            <path stroke-linecap="round"
                                  stroke-linejoin="round"
                                  d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253"/>
                        </svg>
                        <button class="px-2 py-1 mt-4 bg-blue-400 rounded-md">
                            <a href="/ui/lme/cnm/" class="text-sm text-white odd:hover:text-red-600">Coaching and Mentorship</a>
                        </button>
                    </div>
                    <div class="flex flex-col items-center h-auto px-2 py-2 bg-white rounded-lg shadow-lg justify-evenly">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             class="w-8 text-red-400 h-9"
                             fill="none"
                             viewBox="0 0 24 24"
                             stroke="currentColor"
                             stroke-width="2">
                            <path stroke-linecap="round"
                                  stroke-linejoin="round"
                                  d="M3.055 11H5a2 2 0 012 2v1a2 2 0 002 2 2 2 0 012 2v2.945M8 3.935V5.5A2.5 2.5 0 0010.5 8h.5a2 2 0 012 2 2 2 0 104 0 2 2 0 012-2h1.064M15 20.488V18a2 2 0 012-2h3.064M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
                        </svg>
                        <button class="px-2 py-1 mt-4 bg-blue-400 rounded-md">
                            <a href="/ui/lme/tree-growing/"
                               class="text-sm text-white odd:hover:text-red-600">Tree Growing</a>
                        </button>
                    </div>
                    <div class="flex flex-col items-center h-auto px-2 py-2 bg-white rounded-lg shadow-lg justify-evenly">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             class="w-8 text-blue-400 h-9"
                             fill="none"
                             viewBox="0 0 24 24"
                             stroke="currentColor"
                             stroke-width="2">
                            <path stroke-linecap="round"
                                  stroke-linejoin="round"
                                  d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"/>
                            <path stroke-linecap="round"
                                  stroke-linejoin="round"
                                  d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"/>
                        </svg>
                        <button class="px-2 py-1 mt-4 bg-blue-400 rounded-md">
                            <a href="/admin/" class="text-sm text-white odd:hover:text-red-600">Go to Admin Page</a>
                        </button>
                    </div>
                </div>
            {% endif %}
            <hr />
        </div>
    </div>
{% endblock content %}
