{% extends "base.html" %}
{% load static %}
{% load tailwind_filters %}
{% block content %}
    <div class="flex flex-col items-center justify-around w-full max-h-screen px-6 ">
        <div class="flex flex-col w-full mt-8 md:w-8/12 lg:w-6/12">
            <h1 class="w-full text-2xl font-bold text-center text-gray-800 sm:text-lg">Welcome to M&E Portal</h1>
            <p class="w-full mt-4 text-center text-gray-600 sm:text-xs ">
                login here below to get started
            </p>
        </div>
        <div class="flex flex-col items-center justify-center mt-6 text-gray-800 ">
            <form method="post">
                {% csrf_token %}
                <p class="text-center">
                    Put your Phone Number in <span>+254 format</span>
                </p>
                {{ form | crispy }}
                <!-- Submit button -->
                <button type="submit"
                        class="inline-block w-full py-3 text-sm font-medium leading-snug text-white uppercase transition duration-150 ease-in-out bg-blue-600 rounded shadow-md px-7 hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg"
                        data-mdb-ripple="true"
                        data-mdb-ripple-color="light">
                    Sign in
                </button>
            </form>
        </div>
        <div class="flex mt-4 ">
            <p class="text-center text-gray-600">
                Don't have an account? <a href="/accounts/signup/" class="text-blue-600">Register</a>
            </p>
        </div>
    </div>
{% endblock content %}
