{% extends "base.html" %}
{% load static %}
{% load tailwind_filters %}
{% block content %}
    <div class="flex flex-col items-center justify-start w-full h-screen max-h-screen mb-20 px-4 md:px-6 bg-[#fafaf6] ">
        <div class="flex flex-col w-full mt-8 md:w-8/12 lg:w-6/12">
            <p class="w-full mt-4 text-lg text-center text-blue-500 sm:text-md ">
                Reset Your Password
            </p>
        </div>
        <div class="flex flex-col items-center justify-center w-10/12 p-5 mt-8 text-gray-800 bg-white border shadow-md md:w-1/3 rounded-xl ">
            {% comment %} {% if not user.is_staff and user.is_lme or user.is_lme %}
                <div class="w-2/3">
                    <p class="text-sm text-center text-gray-800">
                        As an LME, You are not allowed to change password
                    </p>
                </div>
            {% elif not user.is_staff %}
                <div class="w-2/3">
                    <p class="text-center text-gray-800 text-md">
                        You are not an Admin and hence cannot reset password
                    </p>
                    <br />
                    <p class="text-sm text-center text-gray-800">
                        Kindly contact the Admin
                    </p>
                    <br />
                </div>
            {% else %}
                <form method="post">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <!-- Submit button -->
                    <button type="submit"
                            class="inline-block w-full py-3 mt-4 text-sm font-medium leading-snug text-white uppercase transition duration-150 ease-in-out bg-blue-600 rounded shadow-md px-7 hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg"
                            data-mdb-ripple="true"
                            data-mdb-ripple-color="light">
                        Reset My Password
                    </button>
                </form>
            {% endif %} {% endcomment %}

            <form method="post">
                {% csrf_token %}
                {{ form | crispy }}
                <!-- Submit button -->
                <button type="submit"
                        class="inline-block w-full py-3 mt-4 text-sm font-medium leading-snug text-white uppercase transition duration-150 ease-in-out bg-blue-600 rounded shadow-md px-7 hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg"
                        data-mdb-ripple="true"
                        data-mdb-ripple-color="light">
                    Reset My Password
                </button>
            </form>

            
        </div>
        <div class="flex mt-6 ">
            <p class="text-center text-gray-600">
                Go back to Login? <a href="{% url 'login' %}" class="text-blue-600">Login</a>
            </p>
        </div>
    </div>
{% endblock content %}
