<!DOCTYPE html>
{% load static %}
{% load tailwind_tags %}
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            {% block title %}
                KTDA
            {% endblock title %}
        </title>
        <link rel="stylesheet"
              href="https://kit-pro.fontawesome.com/releases/v5.12.1/css/pro.min.css"/>
        <link rel="stylesheet" href="{% static 'styles.css' %}" />
        {% block head %}
        {% endblock head %}
        <style>[x-cloak] { display: none; }</style>
        {% tailwind_css %}
    </head>
    <body class="min-h-screen antialiased lg:flex" x-data="{open: false}">
        {% if user.is_authenticated %}
            <nav class="absolute inset-0 z-10 w-56 h-screen p-3 text-white duration-200 transform bg-green-100 lg:transform-none lg:opacity-100 lg:relative "
                 :class="{'translate-x-0 ease-in opacity-100':open === true, '-translate-x-full ease-out opacity-0': open === false}">
                <div class="flex justify-between">
                    <a href="/" class="flex items-center">
                        <img src="{% static 'cleo/img/logo.png' %}" class="flex-none w-1/2" />
                    </a>
                    <button class="p-2 text-green-700 rounded-md focus:outline-none focus:bg-indigo-800 hover:bg-indigo-800 lg:hidden"
                            @click="open = false">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             class="w-6 h-6"
                             fill="none"
                             viewBox="0 0 24 24"
                             stroke="currentColor">
                            <path stroke-linecap="round"
                                  stroke-linejoin="round"
                                  stroke-width="2"
                                  d="M15 19l-7-7 7-7"/>
                        </svg>
                    </button>
                </div>
                <!-- start sidebar -->
                <div class="flex flex-col w-full mx-0 bg-green-100">
                    <!-- sidebar content -->
                    <div class="flex flex-col">
                        <!-- sidebar toggle -->
                        <div class="hidden mb-4 text-right md:block">
                            <button id="sideBarHideBtn">
                                <i class="fad fa-times-circle"></i>
                            </button>
                        </div>
                        {% if user.is_lme == False %}
                            <!-- end sidebar toggle -->
                            <p class="mb-4 text-xs tracking-wider text-gray-600 uppercase">
                                Environmental Sustainability
                            </p>
                            <!-- link -->
                            <a href="/ui/lme/list/"
                               class="mb-3 text-sm font-medium text-gray-700 capitalize transition duration-500 ease-in-out hover:text-teal-600">
                                <i class="mr-2 text-xs fad fa-home"></i>
                                LMEs
                            </a>
                            <!-- end link -->
                            <!-- link -->
                            <a href="/ui/lme/sales/"
                               class="mb-3 text-sm font-medium text-gray-700 capitalize transition duration-500 ease-in-out hover:text-teal-600">
                                <i class="mr-2 text-xs fad fa-chart-pie"></i>
                                Sales
                            </a>
                            <!-- end link -->
                            <!-- link -->
                            <a href="/ui/lme/cnm/"
                               class="mb-3 text-sm font-medium text-gray-700 capitalize transition duration-500 ease-in-out hover:text-teal-600">
                                <i class="mr-2 text-xs fad fa-book"></i>
                                Coaching & Mentorship
                            </a>
                            <!-- end link --><!-- link -->
                            <a href="/ui/lme/training/"
                               class="mb-3 text-sm font-medium text-gray-700 capitalize transition duration-500 ease-in-out hover:text-teal-600">
                                <i class="mr-2 text-xs fad fa-graduation-cap"></i>
                                Training
                            </a>
                            <!-- end link -->
                            <!-- link -->
                            <a href="/ui/lme/tree-growing/"
                               class="mb-3 text-sm font-medium text-gray-700 capitalize transition duration-500 ease-in-out hover:text-teal-600">
                                <i class="mr-2 text-xs fad fa-tree"></i>
                                Tree Growing
                            </a>
                            <!-- end link -->
                            <p class="mt-4 mb-4 text-xs tracking-wider text-gray-600 uppercase">
                                Economic Empowerment
                            </p>
                            <!-- link -->
                            <a href="./email.html"
                               class="mb-3 text-sm font-medium text-gray-700 capitalize transition duration-500 ease-in-out hover:text-teal-600">
                                <i class="mr-2 text-xs fad fa-envelope-open-text"></i>
                                Capacity Building
                            </a>
                            <!-- end link -->
                            <!-- link -->
                            <a href="./email.html"
                               class="mb-3 text-sm font-medium text-gray-700 capitalize transition duration-500 ease-in-out hover:text-teal-600">
                                <i class="mr-2 text-xs fad fa-graduation-cap"></i>
                                Training
                            </a>
                            <!-- end link -->
                            <!-- link -->
                            <a href="./email.html"
                               class="mb-3 text-sm font-medium text-gray-700 capitalize transition duration-500 ease-in-out hover:text-teal-600">
                                <i class="mr-2 text-xs fad fa-sun"></i>
                                Climate Smart Agriculture
                            </a>
                            <!-- end link -->
                            <p class="mt-4 mb-4 text-xs tracking-wider text-gray-600 uppercase">
                                Education
                            </p>
                            <!-- link -->
                            <a href="./email.html"
                               class="mb-3 text-sm font-medium text-gray-700 capitalize transition duration-500 ease-in-out hover:text-teal-600">
                                <i class="mr-2 text-xs fad fa-university"></i>
                                Scholarship
                            </a>
                            <!-- end link -->
                            <!-- link -->
                            <a href="#"
                               class="mb-3 text-sm font-medium text-gray-700 capitalize transition duration-500 ease-in-out hover:text-teal-600">
                                <i class="mr-2 text-xs fad fa-thermometer-empty"></i>
                                STEM
                            </a>
                            <!-- end link -->
                            <p class="mt-4 mb-4 text-xs tracking-wider text-gray-600 uppercase">
                                HEALTH
                            </p>
                            <!-- end link -->
                            <!-- link -->
                            <a href="#"
                               class="mb-3 text-sm font-medium text-gray-700 capitalize transition duration-500 ease-in-out hover:text-teal-600">
                                <i class="mr-2 text-xs fad fa-stethoscope"></i>
                                Screening
                            </a>
                        {% else %}
                            <p class="mb-4 text-xs tracking-wider text-gray-600 uppercase">
                                Environmental Sustainability
                            </p>
                            <!-- link -->
                            <a href="/ui/lme/sales/individual/"
                               class="mb-3 text-sm font-medium text-gray-700 capitalize transition duration-500 ease-in-out hover:text-teal-600">
                                <i class="mr-2 text-xs fad fa-chart-pie"></i>
                                My Sales
                            </a>
                            <!-- end link -->
                            <!-- link -->
                            <a href="/environment/lme/sales/individual/create/"
                               class="mb-3 text-sm font-medium text-gray-700 capitalize transition duration-500 ease-in-out hover:text-teal-600">
                                <i class="mr-2 text-xs fad fa-chart-pie"></i>
                                Create Sale
                            </a>
                            <!-- end link -->
                        {% endif %}
                    </div>
                    <!-- end sidebar content -->
                </div>
                <!-- end sidbar -->
            </nav>
        {% endif %}
        <div class="relative z-0 border-green-400 lg:flex-grow">
            <header class="flex items-center px-3 py-2 text-white bg-gray-700 border-red-900 h-11">
                {% if user.is_authenticated %}
                    <button class="p-2 rounded-md focus:outline-none focus:bg-gray-600 hover:bg-gray-600 lg:hidden"
                            @click="open = true">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             class="w-6 h-6"
                             fill="none"
                             viewBox="0 0 24 24"
                             stroke="currentColor">
                            <path stroke-linecap="round"
                                  stroke-linejoin="round"
                                  stroke-width="2"
                                  d="M4 6h16M4 12h16M4 18h16"/>
                        </svg>
                    </button>
                {% endif %}
                <div class="inset-0 flex flex-row items-center justify-between w-full border-green-700 h-fit aniated">
                    <!-- left -->
                    <div class="flex">
                        <span class="p-4 font-bold md:text-xl sm:text-lg">
                            <a href='' class="text-white hover:text-blue-600">KTDA M&E</a>
                        </span>
                    </div>
                    <div class="flex flex-row items-center justify-center ">
                        {% if user.is_authenticated %}
                            <!-- user -->
                            <div class="flex flex-row items-center justify-end w-full ">
                                <div @click.away="openSort = false"
                                     class="relative flex-row self-end justify-around w-full "
                                     x-data="{ openSort: false,sortType:'Sort bya' }">
                                    <button @click="openSort = !openSort"
                                            class="flex items-center justify-start w-full py-2 mt-2 text-sm font-semibold text-left text-white bg-transparent rounded-lg ">
                                        <span class="">{{ user }}</span>
                                        <svg fill="currentColor"
                                             viewBox="0 0 20 20"
                                             :class="{'rotate-180': openSort, 'rotate-0': !openSort}"
                                             class="w-4 h-4 ml-2 transition-transform duration-200 transform ">
                                            <path fill-rule="evenodd"
                                                  d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                                  clip-rule="evenodd">
                                            </path>
                                        </svg>
                                    </button>
                                    <div x-show="openSort"
                                         x-cloak
                                         x-transition:enter="transition ease-out duration-100"
                                         x-transition:enter-start="transform opacity-0 scale-95"
                                         x-transition:enter-end="transform opacity-100 scale-100"
                                         x-transition:leave="transition ease-in duration-75"
                                         x-transition:leave-start="transform opacity-100 scale-100"
                                         x-transition:leave-end="transform opacity-0 scale-95"
                                         class="absolute z-50 w-full origin-top-right">
                                        <div class="px-2 pt-2 pb-2 bg-white rounded-md shadow-lg dark-mode:bg-gray-700">
                                            <div class="flex flex-col">
                                                <a @click="sortType='Most popular',openSort=!openSort"
                                                   x-show="sortType != 'Most popular'"
                                                   class="flex flex-row items-start p-2 bg-transparent rounded-lg hover:bg-gray-200 "
                                                   href="/admin/">
                                                    <div class="">
                                                        <p class="font-semibold text-black">
                                                            Go To Admin
                                                        </p>
                                                    </div>
                                                </a>
                                                <a @click="sortType='Most upvoted',openSort=!openSort"
                                                   x-show="sortType != 'Most upvoted'"
                                                   class="flex flex-row items-start p-2 bg-transparent rounded-lg hover:bg-gray-200 "
                                                   href="/accounts/logout/">
                                                    <div class="">
                                                        <p class="font-semibold text-black">
                                                            Logout
                                                        </p>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end user -->
                        {% else %}
                            <!-- login -->
                            <a class="flex flex-wrap items-center menu-btn focus:outline-none focus:shadow-outline"
                               href="/accounts/login/">
                                <i class="mr-1 text-xs fad fa-sign-in-alt"></i>
                                <span class="capitalize">login</span>
                            </a>
                            <a class="flex flex-wrap items-center px-4 py-2 ml-4 mr-4 bg-yellow-300 rounded-md menu-btn focus:outline-none focus:shadow-outline"
                               href="/accounts/signup/">
                                {% comment %} <i class="mr-1 text-xs fad fa-sign-in-alt"></i> {% endcomment %}
                                <span class="text-gray-800 capitalize">Sign Up</span>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </header>
            <div class="flex-1 w-full p-0 mx-0 bg-gray-100 ">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.2/dist/alpine.min.js" defer></script>
        {% block extra_js %}
        {% endblock extra_js %}
    </body>
</html>
